credentials.json
tokens/
sync_state.json
/credentials_real.json
/data/
/tests/data/
/initial_prompt.txt
/docker.txt

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
*.egg-info/

/todo_txt
